<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/lib/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/lib/fonts.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-2 nav-social">
                    <div class="col-md-4 text-center">
                        <a href="https://www.instagram.com/design_shtuki" target="_blank"><img src="~/Content/images/site/nav-social-instagram.png" alt="link to instagram social network" /></a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="https://ok.ru/profile/563866844247" target="_blank"><img src="~/Content/images/site/nav-social-ok.png" alt="link to odnoklassniki social network" /></a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="https://vk.com/club129227002" target="_blank"><img src="~/Content/images/site/nav-social-vk.png" alt="link to vkontakte social network" /></a>
                    </div>
                    <div class="col-md-12 nav-logo text-center">
                        <a href="@Url.Action("Index", "Home")"><img src="~/Content/images/site/nav-logo.png" alt="logo link to main page" /></a>
                    </div>
                </div>
                <div class="col-md-8 nav-link">
                    <ul class="col-md-12 text-justify">
                        <li><a href="#">Двери</a></li>
                        <li><a href="#">Лестницы</a></li>
                        <li><a href="#">Мебель</a></li>
                        <li><a href="#">Светильники</a></li>
                        <li><a href="#">Эксперименты дизайнеров</a></li>
                    </ul>
                </div>
                <div class="col-md-1 nav-contacts text-right">
                    <a href="@Url.Action("Contacts", "Home")"><img src="~/Content/images/site/nav-phone.png" alt="link to contacts page" /></a>
                </div>
                <div class="col-md-1 nav-cart text-right">
                    <a href="#"><img src="~/Content/images/site/nav-cart.png" alt="link to cart page" /></a><span>9</span>
                </div>
            </div>
        </div>
    </nav>
    @RenderSection("Body")
    <footer></footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
